@font-face {
  font-family: Pretendard;
  src: url('/fonts/Pretendard-Bold.otf');
  src: url('/fonts/Pretendard-Regular.otf');
  src: url('/fonts/Pretendard-SemiBold.otf');
}

*,
*:before,
*:after {
  font-family: Pretendard;
  box-sizing: border-box;
}
